@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text;
  font-family: 'Fira Mono', monospace; /* Terminal-feel 💚 */
}
html {
  scroll-behavior: smooth;
}